<!DOCTYPE html>
<html>
<head>
  <title>TeamDNM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://connect.soundcloud.com/sdk.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <header>
      <%== smartnav %>
      <div id="sign-in-form">
        <%= form_tag(sessions_path, method: :post, remote: true) do %>
          <%= label :username, "Username" %>
          <%= text_field_tag :username %>

          <%= label :password, "Password" %>
          <%= password_field_tag :password %>

          <%= submit_tag "Sign In" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </div><!--/////////////////////////close container //////////-->
</body>
</html>
