<!DOCTYPE html>
<html>
<head>
  <title>ThreeDee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://connect.soundcloud.com/sdk.js' %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="container">
    <header>
      <div id="gh-btn">
        <iframe src="http://ghbtns.com/github-btn.html?user=mdo&repo=github-buttons&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
      </div>

      <h3 id="title"><a href="/">Threedee</a></h3>

      <%== smartnav %>
      <div class="sign-in-form">
        <%= form_tag(sessions_path, :id => "sign-in-ajax", :method => :post, remote: true) do %>
          <%= text_field_tag :username, nil, :placeholder => "Username" %>

          <%= password_field_tag :password, nil, :placeholder => "Password" %>

          <%= submit_tag "Sign In" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>Make You Wanna - Ta-Ku</p>
    </footer>
  </div><!--/////////////////////////close container //////////-->
</body>
</html>
